<h2>About</h2>

<p>I’m an ambitious and forward-thinking web developer with a keen interest in modern front end practices. My passion for development stems from an innate fascination with the connection between, people, technology and information.  Through my work I endeavour to make the connections between these three entities simpler and more harmonious.</p>
