<h2>Skills</h2>

<p>
    <span class="tag">HTML5</span>
    <span class="tag">CSS3</span>
    <span class="tag">JavaScript</span>
    <span class="tag">PHP</span>
    <span class="tag">Node</span>
    <span class="tag">Angular</span>
    <span class="tag">LESS</span>
    <span class="tag">Git</span>
    <span class="tag">WordPress</span>
    <span class="tag">MVC</span>
    <span class="tag">UX Design</span>
    <span class="tag">Wireframing</span>
    <span class="tag">Agile</span>
    <span class="tag">Photoshop</span>
</p>
