<section class="page-section page-section--hero" style="background-color: {{ backgroundColour }};background-image: url({{ backgroundImage }});">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 page-section__content">
                <h1 class="text-spaced">{{ title }}</h1>
                <p>{{ tagline }}</p>
            </div>
        </div>
    </div>
</section>
