{% extends 'template.twig' %}

{% block body %}
<section class="page-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Awesome web page not found...</h1>
            </div>
        </div>
    </div>
</section>
{% endblock body %}
